<% title "Info" %>

<h1>General Information</h1>
<% if mod? %>
  <%= link_to "New Info Page", new_info_path, class: "btn blue" %>
<% end %>
<div class="info">
  <% @info.each do |info| %>
    <%= link_to info.title, info %>
  <% end %>
  <%= paginate @info %>
</div>
