<% title "New Info Page" %>

<h1>New Info Page</h1>
<%= form_for @info, url: info_index_path do |f|%>
  <%= f.text_field :title, placeholder: "Title" %>
  <%= render partial: "md_editor", locals: {name: "info[content]", content: @info.content} %>
  <p><%= f.submit "Create", class: "btn blue left" %></p>
  <div class="clear"></div>
<% end %>
